:root
{
   /* --body-background-color: #787878;*/
    --text-font: 'Braah One';
    --dur: 0.3s;
        font-size: calc(40px + (80 -40) * (100vw - 320px) /(2560/320));
}



body
{
   
     overflow:hidden; 
  /*  background-color: var(--body-background-color); */
    color: hsl(0 , 0%, 10%);
    font: 1em/1.5 sans-serif;
    height:100%;
    overflow: scroll;
    overflow-x: hidden;
    margin:0;
   
}


body, .toggle::before, .toggle::after
{
    background: hsl(0, 0%, 30%);
}

body, .toggle
{
position:relative;
}

/* gardin objektet som man byter till dark mode med. */
.curtain
{
    background: hsl(0, 0%, 100%);
    mix-blend-mode: difference;
    pointer-events: none;
    width:100%;
    height:560px;
    transform: scaleX(0);
    transform-origin: 0 50%;
    top: 40px;
    left: 0;
}

/* När man togglar mellan de olika lägena*/
.toggle
{
    background: currentColor;
    border-radius: 0.75em;
    cursor:pointer;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: nome;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;


}

.curtain, .toggle::before, .toggle::after
{
position:absolute;
transition: transform var(--dur);
}

.curtain, .toggle::before, .toggle:checked::after
{
    transition-timing-function: ease-out;

}

.toggle::before, .toggle::after
{
    border-radius: 50%;
    content: "";
    display:block;
    top:0.25em;
    left:0.25em;
    width:1em;
    height: 1em;
}

.toggle::before, .toggle:checked::after
{
    transition-delay: 0s;
}

.toggle:checked::before, .toggle::after
{
    transition-delay: calc(var(--dur)* 0.75);
    transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
}

.toggle::before
{
    transform: translateX(-1.5em);
}
.toggle:checked::before
{
    transform: translateX(1.5em);
}

.toggle:checked::after
{
    transform: translateX(3em);
}

.toggle:checked ~ .curtain
{
    transform: scaleX(1);
}

.toggle:focus
{
    outline: transparent;
}
header
{
    
    background-color: black;
    
    display: flex;
    height:50px;
    width:100%; 
    margin:0;
    justify-content: space-between;
    align-items: center;
    position:relative;
    
    
}


.logo
{
    margin:10px;
    text-align: left;
    font-family: var(--text-font);
    color:white;
    text-decoration: none;
    display: inline-block;
    
}
.logo:hover
{
    color: #1B278B;
}

.logo:after {
    content: '';
    position: absolute;
    width: 100px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1B278B;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.logo:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.headerLinkS
{
    display: none;
}
.link1
{
    font-family: var(--text-font);
    color: black;
    text-decoration: none;
    margin:60px;

    display:none;   

    

}
.link2
{
 text-decoration: none;
 color: black;
 font-family: var(--text-font);

 display: none;


/* display:none; */
margin-right: 80px;
}
.link1:hover
{
    color:#1B278B;

}
.link2:hover
{
    color: #1B278B;
}



.block
{
    position:absolute;
    top:50px;
    right:0;

    height:100vh;
    width:250px;
    background-color: white;
    z-index: 1;
    transform: translateX(100%);

}
.block2
{
    position:absolute;
    top:50px;
    right:0;
    height:100vh;
    width:250px;
    background-color: white;
    z-index: 1;
    transform: translateX(100%);
}
.menyKnappar2
{
    background-color: black;
    width: 170px;
    height: 35px;
    border-radius:8px;
    margin-bottom: 10px;
   
    margin-top: 10px;
    margin-right: 5px;
}
.menyKnappar2:hover
{
    transform: scale(1.05);
}
.menyKnappar2
{
    background-color: black;
    width: 170px;
    height: 35px;
    border-radius:8px;
    margin-bottom: 10px;
   text-decoration: none;
    margin-top: 10px;
    margin-right: 5px;
}
.menyKnappar2:hover
{
    transform: scale(1.05);
}


a
{
    
    color: #ffffff;
}
.icons
{
    height: 30px;
    width:30px;
    margin-right: 10px;
    margin-left:0;

}
.li
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    height:80vh;
    width:400px;
    background-color: #292967;
    z-index: -99;
    transform: translateX(100%);
    border-radius:20px;
    border: solid white 2px;

}

.block.active
{
    transform: translateX(0);
    transition:0.5s;
    z-index:2;
}
.block2.active
{
    transform: translateX(0);
    transition:0.5s;
    z-index:2;
}
.lnk1
{

    color:black;
}
.lnk2
{
    color:black;
}
.lnk3
{
    
    color:black;
}
.ham1
{
    width:25px;
    height: 3.5px;
    background-color:white;
    position:absolute;
    top:15px;
    right:10px;
   border-radius: 15px;
}
.ham2
{
   
    width:25px;
    height:3.5px;
    background-color: white;
    position:absolute;
    top: 20px;
    right: 10px;
    border-radius: 15px;
}
.ham3
{
    
    width:25px;
    height:3.5px;
    background-color: white;
    position:absolute;
    top: 26px;
    right: 10px;
    border-radius: 15px;
}
.meny
{

    position: absolute;
    right: 50px;
    top:5px;
    font-size:20px;
    padding:10px;
    cursor:pointer;
    transition: 0.2s;
    height:100%;
    width:50px;
    color: white;
    
}
.meny2
{
    position: absolute;
    right: 10px;
    top:5px;

    justify-content: end;

    font-size:20px;
    padding:10px;
    cursor:pointer;
    transition: 0.2s;
    height:100%;
    width:50px;
    
}


.meny span
{
    transition:0.5s;
}
.meny.active .ham1
{
    transform:rotate(45deg);
    top:20px;
    background-color: red;
}
.meny.active .ham2
{
    opacity: 0;
    background-color: red;
}


.meny.active .ham3
{
    
    transform:rotate(-45deg);
    top:20px;
    background-color: red;
}

.meny span
{
    transition:0.5s;
}

.meny2 span
{
    transition:0.5s;
}
.meny2.active .ham1
{
    transform:rotate(45deg);
    top:20px;
    background-color: red;
}
.meny2.active .ham2
{
    opacity: 0;
    background-color: red;
}


.meny2.active .ham3
{
    
    transform:rotate(-45deg);
    top:20px;
    background-color: red;
}



.link
{

    position: absolute;
    top:10px;
    right:40px;
    font-size:20px;
}

.startsidaLogo
{
    /* text-align: center; */
    /* display:flex;
    justify-content: center;*/
    
    position:absolute;
    top: 250px;
    font-size:60px;

    animation-name: textanimation;
    animation-duration:0.7s;
    font-family: var(--text-font);
    -webkit-animation-fill-mode: forwards;
    user-select: none;
    z-index: 1;
    color:black;    
}
.startsidaLogo, toggle::before
{
    color:black;
    z-index:1;
}

 .startsidaLogo, toggle::before, toggle::after
{
    color:white;
    
}
.AI_gen
{
    position: absolute;
    right: 10px;
    border-radius: 20px;
    

}
.TheButton
{
    width: 200px;
    height: 45px;
    border-radius: 8px;
    
}

.tutorialsKnapp
{
    border-style:dotted;
    position: absolute;
    left: 550px;
    top:320px;
    border-radius: 10px;
    width:85px;
    height:35px;
    text-align:center;
    background-color:#1B278B;
    font-size:20px;

}

/* rutor för alla tutorials */
.col-md-3
{
    background-color: black;
    margin: 30px;
    height:150px;
    width:200px;

    border: solid black;
    border-radius:20px;
    border-width:4px;
    color: white;

    z-index: -99;
}

.col-md-3:hover
{
    animation-name: knappFörLektion;
    animation-duration: 2.0000001s;
    animation-delay: 0;
    
}

@keyframes KnappFörLektion
{
    0%
    {
        border-left-color: green;
        
    }

    20%
    {
        border-top-color: green;

    }
    40%
    {
        border-right-color: green;
    }
    60%
    {
        border-bottom-color:green;
    }
    80%
    {
        border-color: green;    
    }
} 

main
{
   /* display: flex;*/
    
    max-width:700px;
    margin:auto;
    justify-content: center;
}
.tut1titel
{
    z-index: -1;
}
.tut1img
{
   position:absolute;
   top:300px;
   right:-220px;

   
   z-index: -2;
   
   width:100vh;
   border-radius:9.9%;
   
}
.texter
{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.button:hover
{
    height:45px;
    width:95px;
    
}
.intro-text
{
    
    right:50px; 

}


.textbox
{
    border-style:solid;
    height: 120px;
    width: 360px;
}


@media screen and (max-width:880px)

{
   
    .link1
    {
        display: none;
    }
    .link2
    {
        display: none;
        display:none;

    }

    .block
    {
    
        width:100px;
        overflow: hidden;
    }
    .block2
    {
    
        width:100px;
        overflow: hidden;
    }

    .meny.active
    {
        width:100px;
        transition:0.555555599s;
        border-top-left-radius:20px;
        border-bottom-left-radius: 20px;
    }
    .meny2.active
    {
        width:100px;
        transition:0.555555599s;
    }
    .startsidaLogo
    {
        text-align: center;
    }
    .meny:hover
    {
        background-color:#1B278B;
    }
    .meny2:hover
    {
        background-color:#1B278B;
    }
    .headerLinkS
    {
        display:none;
    }
    /* test för att flytta på krysset. */
    /*.ham1.active,  .ham3.active::active
    {
        position:absolute;
        right:50px;
    }*/
}
@keyframes textanimation
{
    0%
    {
        
        left:0%;

    }
  
    100%
    {
        left:35%;
        
    }
}


    

