body
{
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 8px;
    margin:0;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 18px;

}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    height: 400px;
    width: 600px;
    border: 2px solid #1111;

}
input
{
    width:350px;
    height: 30px;
    border-radius: var(--border-radius);
    border: 1.5px solid #000001f2;
}
.knappen
{
    width: 350px;
    height: 35px;
    border-radius: var(--border-radius);
    background-color: #000000;
    color: #ffffff;
    
}
.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    width: 500px;
    
}
.usrname
{
    border-radius: var(--border-radius);
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    width: 5000px;
    padding: 10px;
}

.form__link:hover
{
    text-decoration: underline;
}




  
  .password 
  {
      border-radius:20px;
      height: 30px;
      width: 200px;
  
  }
  .felmeddelande
  {
      color: red;
      font-size: 20px;
      
  }
  .korrektmeddelande
  {
      color: green;
      font-size: 20px;
  }